.content {
  position: absolute;
  right: -100%;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  z-index: -999;
  transition: 0.3s;
}

.content.persist {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.content.visible {
  right: -40%;
}

.draw-btn {
  position: absolute;
  left: 0;
  top: 30%;
  padding: 1rem 0.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateX(-100%);
  background-color: #fff;
  box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 9;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.form {
  padding: 1rem;
}

.form-item {
  display: flex;
  align-items: center;
}

.input-control {
  flex: 1;
}

.label {
  text-align: right;
  margin-right: 1rem;
  color: #333;
}

.label::after {
  content: ":";
}
