.content {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: -999;
  transform: translateX(100%);
  transition: 0.3s;
}

.content.persist {
  opacity: 1;
  visibility: visible;
  z-index: 9;
}

.content.visible {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  z-index: 9;
}

.layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.form {
  position: static;
  width: 60%;
  padding: 1rem;
  background-color: #fff;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.1);
}

.visible .form {
  position: relative;
}

.draw-btn {
  position: absolute;
  left: 0;
  top: 30%;
  padding: 1rem 0.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translateX(-100%);
  background-color: #fff;
  box-shadow: -1px 0 3px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 9;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.form-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  overflow: hidden;
}

.input-control {
  flex: 1;
}

.label {
  text-align: right;
  margin-right: 1rem;
  color: #333;
}

.label::after {
  content: ":";
}

/* color-block */
.color-options {
  display: flex;
  flex-wrap: wrap;
}

.color-block {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  /* tablet */
  .color-block {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1024px) {
  /* laptop */
  .color-block {
    width: 50px;
    height: 50px;
  }
}

.color-block.checked::after {
  position: relative;
  bottom: 5%;
  content: "";
  display: inline-block;
  transform: rotate(45deg);
  height: 40%;
  width: 20%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}
