.head {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  color: #333;
}

.add {
  display: flex;
  margin-left: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.add:hover {
  transform: scale(1.1);
}

.add:active {
  transform: scale(0.9);
}

.add-icon {
  width: 24px;
  fill: purple;
}
