.container {
  background-color: #eee;
}

.app-bar {
  height: 60px;
}

.content {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 60px);
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: 0.3s;
}

.nav-open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-btn {
  display: flex;
}

.box {
  box-sizing: border-box;
  height: 100%;
  padding: 1rem;
}

.paper {
  height: 100%;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  word-break: break-all;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.paper.overflow {
  overflow-y: hidden;
}

.edit {
  flex: 1;
  max-width: 700px;
}

.edit-content {
  background-color: #fff;
}

.preview {
  display: none;
  flex: 1;
}

.preview-btn {
  display: block;
}

@media (min-width: 1024px) {
  .preview {
    display: block;
  }

  .preview-btn {
    display: none;
  }
}

@media (min-width: 1280px) {
  .nav {
    position: static;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    display: block;
  }

  .mask {
    display: none;
  }

  .nav-btn {
    display: none;
  }
}
