.head {
  font-size: 0.8rem;
  color: #666;
  padding-left: 0.5rem;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 1rem;
}

.item {
  display: flex;
  height: 50px;
}

.link {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  background-color: #fafafa;
}

.developing .link {
  display: block;
}

.item.select .link {
  color: purple;
}

/* developing tip */
.developing {
  margin-top: 1rem;
}

.developing-describe {
  margin-top: 0.5rem;
  font-size: 0.6em;
  color: #999;
}

.link.disabled {
  color: #999;
  background-color: transparent;
  cursor: default;
}

.link.disabled span {
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 0.5rem;
  color: #ff474a;
}

.link.disabled:hover {
  background-color: transparent;
}

/* developing tip end */
