.wrap {
  display: flex;
  align-items: center;
  background-color: purple;
}

.px {
  padding: 0 1rem;
}

.mr {
  margin-right: 1rem;
}

@media (max-width: 360px) {
  .px {
    padding: 0 0.5rem;
  }

  .mr {
    margin-right: 0.5rem;
  }
}

.hamburger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.hamburger-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.hamburger {
  width: 60%;
}

.hamburger::before,
.hamburger::after,
.hamburger div {
  display: block;
  content: "";
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.3s;
}

.hamburger::before,
.hamburger div {
  margin-bottom: 4px;
}

.hamburger.open::before {
  transform: translateY(7px) rotate(45deg);
}

.hamburger.open::after {
  transform: translateY(-7px) rotate(-45deg);
}

.hamburger.open div {
  transform: scale(0);
}

.right-side {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.preview-btn {
  display: block;
  color: #fff;
  height: 32px;
  line-height: 32px;
  border-radius: 3px;
  padding: 0 0.5rem;
  cursor: pointer;
}

.preview-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.template-select {
  background-color: rgba(255, 255, 255, 0.1);
  height: 30px;
  border-radius: 5px;
  color: #fff;
  padding: 0 1rem;
  outline: none;
  border: none;
}

.template-select:focus {
  outline: none;
  border: none;
}

.github-icon-wrap {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-radius: 50%;
}

.github-icon-wrap:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.github-icon {
  width: 24px;
  fill: #fff;
}
