.wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  background-color: purple;
  z-index: 89;
}

.px {
  padding: 0 1rem;
}

.mr {
  margin-right: 1rem;
}

@media (max-width: 360px) {
  .px {
    padding: 0 0.5rem;
  }

  .mr {
    margin-right: 0.5rem;
  }
}

.right-side {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.space {
  height: 60px;
}

.template-select {
  background-color: rgba(255, 255, 255, 0.1);
  height: 30px;
  border-radius: 5px;
  color: #fff;
  padding: 0 1rem;
  outline: none;
  border: none;
}

.template-select:focus {
  outline: none;
  border: none;
}

.github-icon-wrap {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-radius: 50%;
}

.github-icon-wrap:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.github-icon {
  width: 24px;
  fill: #fff;
}
