.content {
  box-sizing: border-box;
  min-width: 14rem;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: auto;
  background-color: #fff;
}

.item {
  display: flex;
  height: 50px;
}

.link {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.developing .link {
  display: block;
}

.item.select .link {
  color: purple;
}

.head {
  font-size: 0.8rem;
  color: #666;
  padding-left: 0.5rem;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 1rem;
}
